In [2]:
import numpy as np
import pandas as pd

# series

In [3]:
myDict = {"Burak" : 50, "zeynep":40, "mehmet":30}

In [4]:
pd.Series(myDict) #myDict'i bir seriye atadik.

Burak     50
zeynep    40
mehmet    30
dtype: int64

In [6]:
myAge = [50,40,30]
myNames = ["Burak", "zeynep", "mehmet"]

In [7]:
pd.Series(myAge)

0    50
1    40
2    30
dtype: int64

In [8]:
pd.Series(myAge, myNames)

Burak     50
zeynep    40
mehmet    30
dtype: int64

In [9]:
pd.Series(data=myAge, index=myNames)

Burak     50
zeynep    40
mehmet    30
dtype: int64

In [10]:
numpyAr = np.array([50,40,30])
numpyAr

array([50, 40, 30])

In [11]:
pd.Series(numpyAr)

0    50
1    40
2    30
dtype: int32

In [12]:
type(pd.Series(numpyAr))

pandas.core.series.Series

In [13]:
pd.Series(numpyAr, myNames)

Burak     50
zeynep    40
mehmet    30
dtype: int32

In [14]:
pd.Series(["burak","mehmet","osman"], [1,2,3])

1     burak
2    mehmet
3     osman
dtype: object

In [15]:
yarismasonuc1 = pd.Series([10,5,1], ["burak","mehmet","osman"])

In [16]:
yarismasonuc1

burak     10
mehmet     5
osman      1
dtype: int64

In [17]:
yarismasonuc2 = pd.Series([20,10,8],["burak","mehmet","osman"])

In [18]:
yarismasonuc2

burak     20
mehmet    10
osman      8
dtype: int64

In [19]:
yarismasonuc2["mehmet"]

10

In [20]:
sonSonuc = yarismasonuc1 + yarismasonuc2

In [21]:
sonSonuc

burak     30
mehmet    15
osman      9
dtype: int64

In [22]:
farkliSeri = pd.Series([20,30,40,50],["a","b","c","d"])

In [23]:
farkliSeri2 = pd.Series([10,5,3,1,],["a","c","f","g"])

In [24]:
farkliSeri + farkliSeri2 #kesisenleri toplayip getirir.

a    30.0
b     NaN
c    45.0
d     NaN
f     NaN
g     NaN
dtype: float64

In [30]:
data = np.random.randn(3,3)
data

array([[-0.64245547,  0.41431344, -1.03747688],
       [ 1.02686235,  0.50827169,  0.45701445],
       [-0.01412899, -1.13029831,  0.22197884]])

In [31]:
dataF = pd.DataFrame(data)

In [32]:
dataF

          0         1         2
0 -0.642455  0.414313 -1.037477
1  1.026862  0.508272  0.457014
2 -0.014129 -1.130298  0.221979

In [29]:
type(dataF)

pandas.core.frame.DataFrame

In [33]:
dataF[0]

0   -0.642455
1    1.026862
2   -0.014129
Name: 0, dtype: float64

In [34]:
type(dataF[0])

pandas.core.series.Series

In [35]:
newdataf = pd.DataFrame(data, index=["burak","mehmet","osman"], columns = ["maas", "yas","calismasaat"])

In [36]:
newdataf

            maas       yas  calismasaat
burak  -0.642455  0.414313    -1.037477
mehmet  1.026862  0.508272     0.457014
osman  -0.014129 -1.130298     0.221979

In [37]:
newdataf["yas"]

burak     0.414313
mehmet    0.508272
osman    -1.130298
Name: yas, dtype: float64

In [38]:
newdataf["maas"]

burak    -0.642455
mehmet    1.026862
osman    -0.014129
Name: maas, dtype: float64

In [41]:
newdataf.loc["burak"] #indexi getirmek icin loc kullanilir.

maas          -0.642455
yas            0.414313
calismasaat   -1.037477
Name: burak, dtype: float64

In [42]:
newdataf.iloc[0]

maas          -0.642455
yas            0.414313
calismasaat   -1.037477
Name: burak, dtype: float64

In [43]:
newdataf["emeklilikyas"] = newdataf["yas"] + newdataf["yas"]

In [44]:
newdataf

            maas       yas  calismasaat  emeklilikyas
burak  -0.642455  0.414313    -1.037477      0.828627
mehmet  1.026862  0.508272     0.457014      1.016543
osman  -0.014129 -1.130298     0.221979     -2.260597

In [46]:
newdataf.drop("emeklilikyas", axis = 1) #axis1 sutun olur.

            maas       yas  calismasaat
burak  -0.642455  0.414313    -1.037477
mehmet  1.026862  0.508272     0.457014
osman  -0.014129 -1.130298     0.221979

In [47]:
newdataf.drop("osman", axis=0)

            maas       yas  calismasaat  emeklilikyas
burak  -0.642455  0.414313    -1.037477      0.828627
mehmet  1.026862  0.508272     0.457014      1.016543

In [48]:
newdataf

            maas       yas  calismasaat  emeklilikyas
burak  -0.642455  0.414313    -1.037477      0.828627
mehmet  1.026862  0.508272     0.457014      1.016543
osman  -0.014129 -1.130298     0.221979     -2.260597

In [49]:
newdataf.drop("emeklilikyas", axis=1, inplace=True) #inplace burada degisikligi kalici yaptirir.

In [50]:
newdataf

            maas       yas  calismasaat
burak  -0.642455  0.414313    -1.037477
mehmet  1.026862  0.508272     0.457014
osman  -0.014129 -1.130298     0.221979

In [51]:
booleanFrame = newdataf < 0

In [52]:
newdataf[booleanFrame] #sadece 0'dan kucuk olan degerleri gosterir.

            maas       yas  calismasaat
burak  -0.642455       NaN    -1.037477
mehmet       NaN       NaN          NaN
osman  -0.014129 -1.130298          NaN